In [1]:
# Spark Session
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .appName("Working with Strings & Dates")
    .master("local[*]")
    .getOrCreate()
)

spark

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 46068)
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/usr/local/lib/python3.10/socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "/usr/local/lib/python3.10/socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/usr/local/lib/python3.10/socketserver.py", line 747, in __init__
    self.handle()
  File "/spark/python/pyspark/accumulators.py", line 281, in handle
    poll(accum_updates)
  File "/spark/python/pyspark/accumulators.py", line 253, in poll
    if func():
  File "/spark/python/pyspark/accumulators.py", line 257, in accum_updates
    num_updates = read_int(self.rfile)
  File "/spark/python/pyspark/serializers.py", line 595, in read_int
    raise EOFError
EOFError
----------------------------------------

In [2]:
# Emp Data & Schema

emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [3]:
emp = spark.createDataFrame(data=emp_data, schema=emp_schema)

In [4]:
emp.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [5]:
emp.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [11]:
#Case when
from pyspark.sql.functions import when, col, expr

emp_gender_fixed = emp.withColumn("new_gender", when(col("gender") == 'Male', 'M')
                                  .when(col("gender") == 'Female', 'F')
                                  .otherwise(None)
                                 )
emp_gender_fixed_1 = emp.withColumn("new_gender", expr("case when gender = 'Male' then 'M' when gender == 'Female' then 'F' else null end"))

In [12]:
emp_gender_fixed.show()

+-----------+-------------+-------------+---+------+------+----------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|
+-----------+-------------+-------------+---+------+------+----------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      null|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|
+-----------+-------------+-------------+---+------+------+----------+----------+

In [13]:
emp_gender_fixed_1.show()

+-----------+-------------+-------------+---+------+------+----------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|
+-----------+-------------+-------------+---+------+------+----------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      null|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|
+-----------+-------------+-------------+---+------+------+----------+----------+

In [14]:
from pyspark.sql.functions import regexp_replace

emp_name_fixed = emp_gender_fixed.withColumn("new_name", regexp_replace(col("name"), "J", "Z"))

In [15]:
emp_name_fixed.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      null|    Nancy Liu|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+

In [17]:
# Convert Date
# Select *, to_date(hire_date, 'YYYY-MM-DD') as hire_date from emp_name_fixed
from pyspark.sql.functions import to_date

emp_date_fix = emp_name_fixed.withColumn("hire_date", to_date(col("hire_date"), 'yyyy-MM-d'))

In [18]:
emp_date_fix.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      null|    Nancy Liu|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+

In [20]:
emp_date_fix.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: date (nullable = true)
 |-- new_gender: string (nullable = true)
 |-- new_name: string (nullable = true)

In [23]:
# Add Date Columns
# Add current_date, current_timestamp, extract year from hire_date

from pyspark.sql.functions import current_date, current_timestamp

emp_dated = emp_date_fix.withColumn("date_now", current_date()).withColumn("timestamp_now", current_timestamp())

In [24]:
emp_dated.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|  date_now|       timestamp_now|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|2025-08-31|2025-08-31 07:40:...|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|2025-08-31|2025-08-31 07:40:...|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|2025-08-31|2025-08-31 07:40:...|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|2025-08-31|2025-08-31 07:40:...|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|2025-08-31|2025-08-31 07:40:...|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|2025-08-31|2025-08-31 07:40:...|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|2025-08-31|2025-08-31 07:40:...|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|2025-08-31|2025-08-31 07:40:...|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|2025-08-31|2025-08-31 07:40:...|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|2025-08-31|2025-08-31 07:40:...|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|2025-08-31|2025-08-31 07:40:...|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|2025-08-31|2025-08-31 07:40:...|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|2025-08-31|2025-08-31 07:40:...|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|2025-08-31|2025-08-31 07:40:...|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|2025-08-31|2025-08-31 07:40:...|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|2025-08-31|2025-08-31 07:40:...|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|2025-08-31|2025-08-31 07:40:...|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      null|    Nancy Liu|2025-08-31|2025-08-31 07:40:...|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|2025-08-31|2025-08-31 07:40:...|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|2025-08-31|2025-08-31 07:40:...|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+

In [27]:
emp_dated.show(truncate=False)

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------------+
|employee_id|department_id|name         |age|gender|salary|hire_date |new_gender|new_name     |date_now  |timestamp_now             |
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------------+
|001        |101          |John Doe     |30 |Male  |50000 |2015-01-01|M         |Zohn Doe     |2025-08-31|2025-08-31 07:41:38.716809|
|002        |101          |Jane Smith   |25 |Female|45000 |2016-02-15|F         |Zane Smith   |2025-08-31|2025-08-31 07:41:38.716809|
|003        |102          |Bob Brown    |35 |Male  |55000 |2014-05-01|M         |Bob Brown    |2025-08-31|2025-08-31 07:41:38.716809|
|004        |102          |Alice Lee    |28 |Female|48000 |2017-09-30|F         |Alice Lee    |2025-08-31|2025-08-31 07:41:38.716809|
|005        |103          |Jack Chan    |40 |Male  |60000 |2013-04-01|M         |Zack Chan    |2025-08-31|2025-08-31 07:41:38.716809|
|006        |103          |Jill Wong    |32 |Female|52000 |2018-07-01|F         |Zill Wong    |2025-08-31|2025-08-31 07:41:38.716809|
|007        |101          |James Johnson|42 |Male  |70000 |2012-03-15|M         |Zames Zohnson|2025-08-31|2025-08-31 07:41:38.716809|
|008        |102          |Kate Kim     |29 |Female|51000 |2019-10-01|F         |Kate Kim     |2025-08-31|2025-08-31 07:41:38.716809|
|009        |103          |Tom Tan      |33 |Male  |58000 |2016-06-01|M         |Tom Tan      |2025-08-31|2025-08-31 07:41:38.716809|
|010        |104          |Lisa Lee     |27 |Female|47000 |2018-08-01|F         |Lisa Lee     |2025-08-31|2025-08-31 07:41:38.716809|
|011        |104          |David Park   |38 |Male  |65000 |2015-11-01|M         |David Park   |2025-08-31|2025-08-31 07:41:38.716809|
|012        |105          |Susan Chen   |31 |Female|54000 |2017-02-15|F         |Susan Chen   |2025-08-31|2025-08-31 07:41:38.716809|
|013        |106          |Brian Kim    |45 |Male  |75000 |2011-07-01|M         |Brian Kim    |2025-08-31|2025-08-31 07:41:38.716809|
|014        |107          |Emily Lee    |26 |Female|46000 |2019-01-01|F         |Emily Lee    |2025-08-31|2025-08-31 07:41:38.716809|
|015        |106          |Michael Lee  |37 |Male  |63000 |2014-09-30|M         |Michael Lee  |2025-08-31|2025-08-31 07:41:38.716809|
|016        |107          |Kelly Zhang  |30 |Female|49000 |2018-04-01|F         |Kelly Zhang  |2025-08-31|2025-08-31 07:41:38.716809|
|017        |105          |George Wang  |34 |Male  |57000 |2016-03-15|M         |George Wang  |2025-08-31|2025-08-31 07:41:38.716809|
|018        |104          |Nancy Liu    |29 |      |50000 |2017-06-01|null      |Nancy Liu    |2025-08-31|2025-08-31 07:41:38.716809|
|019        |103          |Steven Chen  |36 |Male  |62000 |2015-08-01|M         |Steven Chen  |2025-08-31|2025-08-31 07:41:38.716809|
|020        |102          |Grace Kim    |32 |Female|53000 |2018-11-01|F         |Grace Kim    |2025-08-31|2025-08-31 07:41:38.716809|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------------+

In [28]:
# Drop Null Gender Records (NOT HIGHLY RECOMMENDED)
emp_1 = emp_dated.na.drop()

In [29]:
emp_1.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|  date_now|       timestamp_now|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|2025-08-31|2025-08-31 07:42:...|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|2025-08-31|2025-08-31 07:42:...|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|2025-08-31|2025-08-31 07:42:...|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|2025-08-31|2025-08-31 07:42:...|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|2025-08-31|2025-08-31 07:42:...|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|2025-08-31|2025-08-31 07:42:...|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|2025-08-31|2025-08-31 07:42:...|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|2025-08-31|2025-08-31 07:42:...|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|2025-08-31|2025-08-31 07:42:...|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|2025-08-31|2025-08-31 07:42:...|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|2025-08-31|2025-08-31 07:42:...|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|2025-08-31|2025-08-31 07:42:...|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|2025-08-31|2025-08-31 07:42:...|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|2025-08-31|2025-08-31 07:42:...|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|2025-08-31|2025-08-31 07:42:...|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|2025-08-31|2025-08-31 07:42:...|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|2025-08-31|2025-08-31 07:42:...|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|2025-08-31|2025-08-31 07:42:...|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|2025-08-31|2025-08-31 07:42:...|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+

In [31]:
# Fix Null Values
# Select *, nvl("new_gender", 'O') as new_gender from emp_dated

from pyspark.sql.functions import coalesce, lit

emp_null_df = emp_dated.withColumn("new_gender", coalesce(col('new_gender'), lit('O')))

In [33]:
emp_final = emp_null_df.drop('name', 'gender').withColumnRenamed("new_name", "name").withColumnRenamed("new_gender", "gender")

In [34]:
emp_final.show()

+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+
|employee_id|department_id|age|salary| hire_date|gender|         name|  date_now|       timestamp_now|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+
|        001|          101| 30| 50000|2015-01-01|     M|     Zohn Doe|2025-08-31|2025-08-31 07:51:...|
|        002|          101| 25| 45000|2016-02-15|     F|   Zane Smith|2025-08-31|2025-08-31 07:51:...|
|        003|          102| 35| 55000|2014-05-01|     M|    Bob Brown|2025-08-31|2025-08-31 07:51:...|
|        004|          102| 28| 48000|2017-09-30|     F|    Alice Lee|2025-08-31|2025-08-31 07:51:...|
|        005|          103| 40| 60000|2013-04-01|     M|    Zack Chan|2025-08-31|2025-08-31 07:51:...|
|        006|          103| 32| 52000|2018-07-01|     F|    Zill Wong|2025-08-31|2025-08-31 07:51:...|
|        007|          101| 42| 70000|2012-03-15|     M|Zames Zohnson|2025-08-31|2025-08-31 07:51:...|
|        008|          102| 29| 51000|2019-10-01|     F|     Kate Kim|2025-08-31|2025-08-31 07:51:...|
|        009|          103| 33| 58000|2016-06-01|     M|      Tom Tan|2025-08-31|2025-08-31 07:51:...|
|        010|          104| 27| 47000|2018-08-01|     F|     Lisa Lee|2025-08-31|2025-08-31 07:51:...|
|        011|          104| 38| 65000|2015-11-01|     M|   David Park|2025-08-31|2025-08-31 07:51:...|
|        012|          105| 31| 54000|2017-02-15|     F|   Susan Chen|2025-08-31|2025-08-31 07:51:...|
|        013|          106| 45| 75000|2011-07-01|     M|    Brian Kim|2025-08-31|2025-08-31 07:51:...|
|        014|          107| 26| 46000|2019-01-01|     F|    Emily Lee|2025-08-31|2025-08-31 07:51:...|
|        015|          106| 37| 63000|2014-09-30|     M|  Michael Lee|2025-08-31|2025-08-31 07:51:...|
|        016|          107| 30| 49000|2018-04-01|     F|  Kelly Zhang|2025-08-31|2025-08-31 07:51:...|
|        017|          105| 34| 57000|2016-03-15|     M|  George Wang|2025-08-31|2025-08-31 07:51:...|
|        018|          104| 29| 50000|2017-06-01|     O|    Nancy Liu|2025-08-31|2025-08-31 07:51:...|
|        019|          103| 36| 62000|2015-08-01|     M|  Steven Chen|2025-08-31|2025-08-31 07:51:...|
|        020|          102| 32| 53000|2018-11-01|     F|    Grace Kim|2025-08-31|2025-08-31 07:51:...|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+

In [36]:
emp_final.write.format("csv").save("data/output/4/emp.csv")

In [42]:
# convert Date into String and extract Date information
from pyspark.sql.functions import date_format

# emp_fixed = emp_final.withColumn("date_string", date_format(col("hire_date"), "dd/MM/yyyy"))

emp_fixed = emp_final.withColumn("date_year", date_format(col("hire_date"), "yyyy"))

In [43]:
emp_fixed.show()

+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+---------+
|employee_id|department_id|age|salary| hire_date|gender|         name|  date_now|       timestamp_now|date_year|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+---------+
|        001|          101| 30| 50000|2015-01-01|     M|     Zohn Doe|2025-08-31|2025-08-31 08:10:...|     2015|
|        002|          101| 25| 45000|2016-02-15|     F|   Zane Smith|2025-08-31|2025-08-31 08:10:...|     2016|
|        003|          102| 35| 55000|2014-05-01|     M|    Bob Brown|2025-08-31|2025-08-31 08:10:...|     2014|
|        004|          102| 28| 48000|2017-09-30|     F|    Alice Lee|2025-08-31|2025-08-31 08:10:...|     2017|
|        005|          103| 40| 60000|2013-04-01|     M|    Zack Chan|2025-08-31|2025-08-31 08:10:...|     2013|
|        006|          103| 32| 52000|2018-07-01|     F|    Zill Wong|2025-08-31|2025-08-31 08:10:...|     2018|
|        007|          101| 42| 70000|2012-03-15|     M|Zames Zohnson|2025-08-31|2025-08-31 08:10:...|     2012|
|        008|          102| 29| 51000|2019-10-01|     F|     Kate Kim|2025-08-31|2025-08-31 08:10:...|     2019|
|        009|          103| 33| 58000|2016-06-01|     M|      Tom Tan|2025-08-31|2025-08-31 08:10:...|     2016|
|        010|          104| 27| 47000|2018-08-01|     F|     Lisa Lee|2025-08-31|2025-08-31 08:10:...|     2018|
|        011|          104| 38| 65000|2015-11-01|     M|   David Park|2025-08-31|2025-08-31 08:10:...|     2015|
|        012|          105| 31| 54000|2017-02-15|     F|   Susan Chen|2025-08-31|2025-08-31 08:10:...|     2017|
|        013|          106| 45| 75000|2011-07-01|     M|    Brian Kim|2025-08-31|2025-08-31 08:10:...|     2011|
|        014|          107| 26| 46000|2019-01-01|     F|    Emily Lee|2025-08-31|2025-08-31 08:10:...|     2019|
|        015|          106| 37| 63000|2014-09-30|     M|  Michael Lee|2025-08-31|2025-08-31 08:10:...|     2014|
|        016|          107| 30| 49000|2018-04-01|     F|  Kelly Zhang|2025-08-31|2025-08-31 08:10:...|     2018|
|        017|          105| 34| 57000|2016-03-15|     M|  George Wang|2025-08-31|2025-08-31 08:10:...|     2016|
|        018|          104| 29| 50000|2017-06-01|     O|    Nancy Liu|2025-08-31|2025-08-31 08:10:...|     2017|
|        019|          103| 36| 62000|2015-08-01|     M|  Steven Chen|2025-08-31|2025-08-31 08:10:...|     2015|
|        020|          102| 32| 53000|2018-11-01|     F|    Grace Kim|2025-08-31|2025-08-31 08:10:...|     2018|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+---------+